#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Get week number
alias week='date +%V'

# Get general update
alias update='sudo pacman -Syu'

###### Git ######

# Add untracked, remove deleted and show status
# alias adda="git add -A && git status
alias gcfg="/usr/bin/git --git-dir=$HOME/dotfiles/ --work-tree=$HOME"
